# OS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environments
venv/
env/
.venv/
.env

# ML artifacts (VERY IMPORTANT)
*.pkl
*.joblib

# Datasets
*.csv

# VS Code
.vscode/
